.collection-title, .post-header-title {
  cursor: auto;
  font-size: 4rem;
  margin-top: 0;
  word-break: break-all;
  @extend %link-text;
  &:first-letter {
    @extend %link-first-letter;
    color: $secondary-color;
  }
}

.rt-post {
  margin: 1rem;
  text-align: center;

  img {
    max-height: 80vh;
    max-width: 50vw;
    height: auto;
    width: auto;
  }

  .rt-post-title {
    font-size: 2rem;
    margin-bottom: 0;


    a {
      @extend %link-text;
      text-decoration: none;

      p {
        margin-bottom: 0.5rem;
      }
    }

    a {
      p:first-letter {
        @extend %link-first-letter;
      }
    }
  }

  .rt-content {
    text-align: left;
  }

  .posted-on {
    font-size: 0.75rem;
    font-weight: 800;
  }
}

.pagination {
  display: flex;
  justify-content: center;

  & > * {
    flex: 0 0 auto;
  }
}

@media (min-width: $screen-md-min) {
  .rt-post-container {
    width: 50vw;
  }
}