@charset "utf-8";
@import "variables";
@import "logo";
@import "menu";
@import "posts";
@import "footer";
@import "animate";

body {
  margin-bottom: 0;
}
#page {
  margin: -0.5rem;
  margin-bottom: 0;
  color: $secondary-color;
  font-family: $primary-font;
  font-weight: 300;
}

main {
  min-height: 332px;
}

@media (min-width: $screen-md-min) {
  #page {
    padding-left: 2rem;
  }
}
