@charset "utf-8";
@import "variables";
@import "logo";
@import "menu";
@import "posts";

#page {
  margin: 0;
  color: $secondary-color;
  font-family: $primary-font;
  font-weight: 300;
}

@media (min-width: $screen-md-min) {
  #page {
    padding-left: 2rem;
  }
}
