@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,800|Playfair+Display:900,900i');

$screen-sm-min: 768px;
$site-primary: #FFB6C1;
$site-text: #707070;
$site-font-family: 'Open Sans', sans-serif;
$site-second-font: 'Playfair Display', serif;

#page {
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: $site-text;
  font-family: $site-font-family;
  font-weight: 300;
  padding-bottom: 3rem;

  .rt-post-title > a,
  .site-header > a,
  .footer-nav-item > a,
  .rt-post-title {
    color: $site-text;
    display: inline-block;
    font-weight: 300;
    transition: all 200ms ease;
    text-decoration: none;
  }

  .rt-post-title {
    text-transform: capitalize;
  }

  .footer-nav-item > a {
    font-family: $site-second-font;
    font-weight: 700;
    color: white;
  }

  .footer-nav-item:hover {
    font-style: italic;
  }

  .rt-post-title > a::first-letter,
  .site-header > a::first-letter {
    color: $site-primary;
    font-weight: 800;
  }

  .rt-post-title {
    font-weight: 800;
  }
}

.progressive, .progressive img {
  width: 100%;
}

.logo-wrapper {
  font-size: 5.75rem;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid $site-primary;

  .logo-letter {
    color: $site-primary;
    font-weight: 800;
    flex: 0 0 auto;
  }

  .logo-names-wrapper {
    display: flex;
    flex-wrap: wrap;
    font-size: 3rem;
    align-items: center;
    height: 5rem;
    padding-top: 1.2rem;

    span {
      line-height: 1rem;
    }

    .logo-first-name {
      flex: 0 0 100%;
    }

    .logo-last-name {
      flex: 0 0 auto;
    }

  }
}

.rt-post {

  .rt-meta {
    font-size: .75rem;
  }

  .rt-post-divider {
    background-color: $site-primary;
    height: 0.1rem;
    border-radius: 1rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  background-color: $site-primary;
}

.footer-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.footer-nav-item {
  flex: 0 0 33vw;
  text-align: center;
  color: white;
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
}

.footer-nav-item:nth-child(2) {
  border-right: solid 1px $site-text;
  border-left: solid 1px $site-text;
}

@media (min-width: $screen-sm-min) {
  #page {
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .rt-post-title > a:hover,
  .site-header > a:hover {
    color: $site-primary;
  }

  .rt-post-container {
    width: 50vw;
  }

  .logo-wrapper {
    font-size: 4.75rem;
    display: flex;
    flex-wrap: wrap;
    transition: all 1s ease;
    padding-bottom: 1rem;

    .logo-names-wrapper {
      font-size: 4.75rem;
      height: 4rem;

      .logo-first-name {
        flex: 0 0 auto;
      }
    }
  }

  .footer {
    top: 0;
    left: auto;
    right: 10vw;
    width: 25vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .footer-nav {
    flex: 0 0 auto;
    justify-content: space-around;
    align-items: center;
    height: 50vh;
    flex-direction: column;
  }

  .footer-nav-item {
    font-size: 2rem;
    flex: 0 0 auto;
  }

  .footer-nav-item:nth-child(2) {
    border: none;
  }
}
