@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800|Playfair+Display:900,900i");

.logo-wrapper .logo-letter,.collection-title:first-letter,.post-header-title:first-letter,.rt-post .rt-post-title a p:first-letter {
  color: #FFB6C1;
  font-weight: 800;
  cursor: pointer;
  text-transform: capitalize;
}

.logo-wrapper .logo-names-wrapper,.site-menu .site-menu-nav a,.collection-title,.post-header-title,.rt-post .rt-post-title a {
  color: #707070;
  font-weight: 300;
  cursor: pointer;
}

.site-header a {
  text-decoration: none;
  display: inline-block;
}

.logo-wrapper {
  display: flex;
  width: 90%;
}

.logo-wrapper .logo-letter {
  font-size: 12.5rem;
}

.logo-wrapper .logo-names-wrapper {
  line-height: 5rem;
  font-size: 5.625rem;
  padding-top: 3.75rem;
  margin-left: -3.5rem;
}

.logo-wrapper .logo-names-wrapper .logo-last-name-letter {
  display: none;
}

.site-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  background-color: #FFB6C1;
  transition: height 0.5s ease;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.site-menu .site-menu-nav {
  flex: 0 0 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.site-menu .site-menu-nav a {
  font-family: "Playfair Display", serif;
  text-decoration: none;
  font-size: 3rem;
  line-height: 3rem;
}

.site-menu .site-menu-nav a:hover {
  font-style: italic;
}

.social-links {
  flex: 0 0 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5rem;
  position: fixed;
  bottom: 1rem;
  left: 0;
  width: 100%;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.25s;
  transition-delay: 0.5s;
}

.social-links a {
  color: #707070;
}

.social-links a i {
  color: white;
}

.site-menu-toggle {
  position: fixed;
  margin: 1rem;
  height: 2rem;
  width: 2rem;
  top: 0;
  right: 0;
  z-index: 2;
  transition: all 0.5s ease;
}

.site-menu-toggle span {
  background-color: #707070;
  display: block;
  width: 2rem;
  height: 0.25rem;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
  transition: all 0.5s ease;
}

.toggled-menu .site-menu {
  height: 100vh;
}

.toggled-menu .social-links {
  opacity: 9;
}

.toggled-menu .site-menu-toggle {
  padding-top: 0.5rem;
}

.toggled-menu .site-menu-toggle span {
  margin-bottom: -.25rem;
}

.toggled-menu .site-menu-toggle span:first-child {
  transform: rotate(45deg);
}

.toggled-menu .site-menu-toggle span:nth-child(2) {
  opacity: 0;
}

.toggled-menu .site-menu-toggle span:last-child {
  transform: rotate(-45deg);
}

.collection-title,.post-header-title {
  cursor: auto;
  font-size: 4rem;
  margin-top: 0;
}

.collection-title:first-letter,.post-header-title:first-letter {
  color: #707070;
}

.rt-post img {
  max-height: 80vh;
  max-width: 50vw;
  height: auto;
  width: auto;
}

.rt-post .rt-post-title {
  font-size: 2rem;
  margin-bottom: 0;
}

.rt-post .rt-post-title a {
  text-decoration: none;
}

.rt-post .rt-post-title a p {
  margin-bottom: 0.5rem;
}

.rt-post .posted-on {
  font-size: 0.75rem;
  font-weight: 800;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination > * {
  flex: 0 0 auto;
}

body {
  margin-bottom: 0;
}

#page {
  margin: -0.5rem;
  margin-bottom: 0;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

@media (min-width: 992px) {
  .site-menu {
    right: 10vw;
    left: auto;
    height: 100vh;
    width: 25vw;
    display: flex;
    z-index: -1;
  }

  .site-menu .site-menu-nav {
    flex: 0 0 85vh;
    padding: 0 1rem;
    align-items: center;
    justify-content: center;
  }

  .site-menu .site-menu-nav span {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    text-align: center;
  }

  .site-menu-toggle {
    display: none;
  }

  .social-links {
    flex: 0 0 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    position: fixed;
    bottom: 1rem;
    left: 65vw;
    width: 25vw;
    z-index: 2;
    opacity: 1;
  }

  .social-links a {
    color: #707070;
  }

  .social-links a i {
    color: white;
  }

  .rt-post-container {
    width: 50vw;
  }

  .footer {
    width: 80vw;
    height: 4rem;
    margin-left: -2rem;
    margin-top: 2rem;
    padding: 0 10vw;
    border-top: 1px solid #FFB6C1;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer .social-blocks {
    display: flex;
    height: 100%;
    width: 25vw;
  }

  .footer .social-blocks div {
    flex: 1 0 auto;
    height: 100%;
  }

  .footer .social-blocks .facebook-block {
    background-color: #3b5998;
  }

  .footer .social-blocks .instagram-block {
    background-color: #517fa4;
  }

  .footer .social-blocks .twitter-block {
    background-color: #00aced;
  }

  #page {
    padding-left: 2rem;
  }
}
