@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,800|Playfair+Display:900,900i");

#page {
  margin: 0;
  margin-top: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  color: #707070;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  padding-bottom: 3rem;
}

#page .rt-post-title > a,#page .site-header > a,#page .footer-nav-item > a,#page .rt-post-title {
  color: #707070;
  display: inline-block;
  font-weight: 300;
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  text-decoration: none;
}

#page .rt-post-title {
  text-transform: capitalize;
}

#page .footer-nav-item > a {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: white;
}

#page .footer-nav-item:hover {
  font-style: italic;
}

#page .rt-post-title > a::first-letter,#page .site-header > a::first-letter {
  color: #FFB6C1;
  font-weight: 800;
}

#page .rt-post-title {
  font-weight: 800;
}

.progressive,.progressive img {
  width: 100%;
}

.logo-wrapper {
  font-size: 5.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-bottom: 0.5rem;
  border-bottom: 0.2rem solid #FFB6C1;
}

.logo-wrapper .logo-letter {
  color: #FFB6C1;
  font-weight: 800;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.logo-wrapper .logo-names-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 3rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 5rem;
  padding-top: 1.2rem;
}

.logo-wrapper .logo-names-wrapper span {
  line-height: 1rem;
}

.logo-wrapper .logo-names-wrapper .logo-first-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
}

.logo-wrapper .logo-names-wrapper .logo-last-name {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.rt-post .rt-meta {
  font-size: .75rem;
}

.rt-post .rt-post-divider {
  background-color: #FFB6C1;
  height: 0.1rem;
  border-radius: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 3rem;
  background-color: #FFB6C1;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  height: 100%;
}

.footer-nav-item {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33vw;
  flex: 0 0 33vw;
  text-align: center;
  color: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.footer-nav-item:nth-child(2) {
  border-right: solid 1px #707070;
  border-left: solid 1px #707070;
}

@media (min-width: 768px) {
  #page {
    margin: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
  }

  .rt-post-title > a:hover,.site-header > a:hover {
    color: #FFB6C1;
  }

  .rt-post-container {
    width: 50vw;
  }

  .logo-wrapper {
    font-size: 4.75rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    padding-bottom: 1rem;
  }

  .logo-wrapper .logo-names-wrapper {
    font-size: 4.75rem;
    height: 4rem;
  }

  .logo-wrapper .logo-names-wrapper .logo-first-name {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .footer {
    top: 0;
    left: auto;
    right: 10vw;
    width: 25vw;
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
  }

  .footer-nav {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .footer-nav-item {
    font-size: 2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
  }

  .footer-nav-item:nth-child(2) {
    border: none;
  }
}
